ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacao-cabecalho {
    background-color: #b10333;
    border-radius: 10px;
    margin-top: 30px;
    float: left;
}

.navegacao-cabecalho li {
    float: left;
    background: url(../imgs/divisor.png) no-repeat left center;
}

li.primeiro {
    background: none;
}

.navegacao-cabecalho a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.0em;
    padding: 0.5em 1.1em;
    line-height: 1.8rem;
    border-radius: 10px;
}

.navegacao-cabecalho a:visited {
    color: #fff;
}

.navegacao-cabecalho a:hover {
    color: #69001d;
}

.navegacao-cabecalho li:hover {
    background-color: #d2033e;
    border-radius: 10px;
}